In [11]:
# Dependencies
import pandas as pd
from sqlalchemy import create_engine

import pymysql
pymysql.install_as_MySQLdb()

from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

from sqlalchemy import Column, Integer, String, Float

from config import dbuser, dbpasswd, dburi, dbport, dbname

In [ ]:
from sqlalchemy import create_engine
engine = create_engine(f"mysql://{dbuser}@{dburi}:{dbport}/{dbname}")
Base.metadata.create_all(engine)

In [3]:
# read csv files
hawaii_measurements = 'clean_hawaii_measurements.csv'
hawaii_stations = 'clean_hawaii_stations.csv'

measurements_data = pd.read_csv(hawaii_measurements)
stations_data = pd.read_csv(hawaii_stations)

In [5]:
# view measurements_data
measurements_data.head()

   Unnamed: 0      station        date  prcp  tobs
0           4  USC00519397  2010-01-06   0.0    73
1          26  USC00519397  2010-01-30   0.0    70
2          29  USC00519397  2010-02-03   0.0    67
3          43  USC00519397  2010-02-19   0.0    63
4          61  USC00519397  2010-03-11   0.0    73

In [7]:
# view stations_data
stations_data.head()

,Unnamed: 0,station,name,latitude,longitude,elevation
0,0,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
1,1,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6
2,2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7.0
3,3,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9
4,4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6